@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  clear: both;
  box-sizing: border-box;
}

body {
  background-color: #F1F4F5;
}

.grass {
  background-color: #08FEC3;
}

.poison {
  background-color: #AF08FE;
}

.electric {
  background-color: #FFB800;
}

.fairy {
  background-color: #FBA1EC;
}

.normal {
  background-color: #C4C4C4;
}

.flying {
  background-color: #5317FC;
}

.default {
  background-color: #0E0E0E;
}

.water {
  background-color: #00A3FF;
}

.ground {
  background-color: #85826E;
}

.fire {
  background-color: #FE0808;
}

.border-top {
  border-top: 1px solid #e5e7eb;
}

.text-link-a {
  --tw-text-opacity: 1;
  color: #00A3FF;

  &:hover {
    text-decoration: underline;
    color: #00A3FF;
  }
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.mulish-bold  {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.mulish-600  {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.mulish-400  {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}